.Blogs {
    margin-bottom: 150px;
}

.Blogs .mainRow {
    margin: 50px auto;
}

.Blogs .row {
    margin: 10px auto;
}

.Blogs .col-sm-9 .box {
    border-bottom: 2px solid #6e6b6b;
    width: 100%;
    margin: 30px auto;
    overflow: hidden;
}

.Blogs .col-sm-9 .box:hover {
    background: #ccc;
    cursor: pointer;
}

.Blogs img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.Blogs .col-sm-9 .col-sm-10 .container .col-sm-5 h6 {
    font-size: 15px;
    font-weight: 800;
    color: var(--main) !important;
    margin: 30px auto;
}

.Blogs .col-sm-9 .col-sm-10 .container .col-sm-5 h5 {
    font-size: 25px;
    font-weight: 900;
    color: #000;
    height: auto;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.Blogs .col-sm-9 .col-sm-10 .container .col-sm-5 p {
    font-size: 13px;
    color: #000;
    margin-top: 20px;
}

.Blogs .col-sm-2 h6 {
    font-size: 40px;
    margin-top: 90px;
    color: #000;
}

.Blogs .col-sm-9 .box:hover .col-sm-2 h6 {
    color: var(--main) !important;
    font-size: 60px;
}