.BlogHome {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(BlogPageHeader.jpg);
    background-repeat: no-repeat;
    height: 70vh;
    width: 100% !important;
    background-size: cover;
    background-position: center;
}

.BlogHome .BlogContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;

}

.BlogHome .BlogContent h6 {
    font-size: 40px;
    font-weight: 800;
}

.BlogHome .BlogContent h5 {
    font-size: 150px;
    font-weight: 900;
    color: var(--main);
}

.MainBlog {
    margin: 100px auto;
}

.MainBlog .box {
    margin: 50px auto;
}

.MainBlog .box:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: var(--boxShadow);
}

.MainBlog .box img {
    height: 500px;
    width: 100%;
    object-fit: cover;
    box-shadow: var(--boxShadow);
}

.MainBlog .box .boxContent {
    background: #ccc;
    padding: 20px;
}

.MainBlog .box .boxContent h6 {
    font-size: 50px;
    font-weight: 800;
    color: #000;
    margin: 20px auto;
}

.MainBlog .box .boxContent p {
    font-size: 12px;
    margin: 20px auto;
    color: #000 !important;
}

.MainBlog .box .boxContent p span {
    font-size: 16px;
    font-weight: 900;
}